* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(230, 230, 230);
}

header {
    text-align: center;
    margin: 50px;
}

.selectBtnContainer {
    display: block;
    border: 1px solid black;
}

.selectBtnContainer>h3,
.selectBtn {
    display: inline;
}