* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.selectBtnContainer {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: rgb(230, 230, 230);
}

header {
    text-align: center;
    margin: 50px 70px 0px 70px;
}

.submit,
.selectBtn {
    display: block;
}

.submit {
    margin: 20px auto auto auto;
    width: 30%;
}

.selectBtn {
    margin: 20px auto auto auto;
}

.btn {
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
}

.selectBtnContainer>h3 {
    font-size: 23px;
}

.btn:hover {
    background: rgb(172, 177, 177);
}

.analyzeBtn {
    display: block;
    margin: 20px auto;
    width: 30%;
}


.selectMessage {
    color: rgba(83, 71, 71, 0.897);
    font-size: 18px;
    margin-top: 10px;
}
.iframe {
    width:100%;
    height:auto;
    display: block;
    margin:auto;
}
.pageMessage{
    color: rgba(83, 71, 71, 0.897);
    text-align:center;
    margin:10px auto 10px auto;
}
.warningList{
    text-align:center;
}
li{
    padding:10px;
    font-size:20px;
    border:3px solid rgb(231, 50, 50);
    margin:20px 80px 20px 80px;
    list-style: none;
}